numpy==1.26.4; python_version >= '3.9'
pandas==2.2.2; python_version >= '3.9'
matplotlib==3.8.4; python_version >= '3.9'
tensorflow==2.14; python_version >= '3.9'
tqdm==4.66.2; python_version >= '3.7'
clearml==1.16.1; python_version >= '3.7'
clearml-agent==1.8.1; python_version >= '3.7'