-i https://pypi.org/simple
absl-py==2.1.0; python_version >= '3.7'
astunparse==1.6.3
attrs==23.2.0; python_version >= '3.7'
certifi==2024.2.2; python_version >= '3.6'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
clearml==1.15.1
clearml-agent==1.8.0
contourpy==1.2.1; python_version >= '3.9'
cycler==0.12.1; python_version >= '3.8'
distlib==0.3.8
filelock==3.13.4; python_version >= '3.8'
flatbuffers==24.3.25
fonttools==4.51.0; python_version >= '3.8'
furl==2.1.3
gast==0.5.4; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
google-pasta==0.2.0
grpcio==1.62.2; python_version >= '3.7'
h5py==3.11.0; python_version >= '3.8'
idna==3.7; python_version >= '3.5'
jsonschema==4.21.1; python_version >= '3.8'
jsonschema-specifications==2023.12.1; python_version >= '3.8'
keras==3.3.2; python_version >= '3.9'
kiwisolver==1.4.5; python_version >= '3.7'
libclang==18.1.1
markdown==3.6; python_version >= '3.8'
markdown-it-py==3.0.0; python_version >= '3.8'
markupsafe==2.1.5; python_version >= '3.7'
matplotlib==3.8.4; python_version >= '3.9'
mdurl==0.1.2; python_version >= '3.7'
ml-dtypes==0.3.2; python_version >= '3.9'
namex==0.0.8
numpy==1.26.4; python_version >= '3.9'
opt-einsum==3.3.0; python_version >= '3.5'
optree==0.11.0; python_version >= '3.7'
orderedmultidict==1.0.1
packaging==24.0; python_version >= '3.7'
pathlib2==2.3.7.post1
pillow==10.3.0; python_version >= '3.8'
platformdirs==4.2.1; python_version >= '3.8'
protobuf==4.25.3; python_version >= '3.8'
psutil==5.9.8; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
pygments==2.17.2; python_version >= '3.7'
pyjwt==2.8.0; python_version > '3.5'
pyparsing==3.1.2; python_full_version >= '3.6.8'
python-dateutil==2.8.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
pyyaml==6.0.1; python_version >= '3.6'
referencing==0.35.0; python_version >= '3.8'
requests==2.31.0; python_version >= '3.7'
rich==13.7.1; python_full_version >= '3.7.0'
rpds-py==0.18.0; python_version >= '3.8'
setuptools==69.5.1; python_version >= '3.8'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
tensorboard==2.16.2; python_version >= '3.9'
tensorboard-data-server==0.7.2; python_version >= '3.7'
tensorflow==2.16.1; python_version >= '3.9'
tensorflow-io-gcs-filesystem==0.36.0; python_version < '3.12'
termcolor==2.4.0; python_version >= '3.8'
tqdm==4.66.2; python_version >= '3.7'
typing-extensions==4.11.0; python_version >= '3.8'
urllib3==1.26.18; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
virtualenv==20.26.0; python_version >= '3.7'
werkzeug==3.0.2; python_version >= '3.8'
wheel==0.43.0; python_version >= '3.8'
wrapt==1.16.0; python_version >= '3.6'
