<!DOCTYPE html>
<html>
<head>
    <title>CropSpot</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <h1 style="padding: 20px;">CropSpot Demo</h1>
    <p style="padding: 40px;">
        Upload an image of a plant and click "submit".
        
        Our program will then analyze the image and provide you with information about the plant.
    </p>
    <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" required>
        <button type="submit">Upload</button>
    </form>
    <div id="result"></div>
</body>
</html>